[defaults]
inventory = ../inventory.ini
roles_path = roles
host_key_checking = False
timeout = 30
pipelining = True
interpreter_python = auto_silent
stdout_callback = default
display_skipped_hosts = False

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining = True
